<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link to css-->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link type="text/css" href="static/style.css" rel="stylesheet"/> 
    <!--end of links to css-->

    <title>Aurora</title>
</head>

<nav style="margin:auto; display: flex; justify-content:space-around; align-items: center; height: 90px; background-color: #6c63ff; margin-bottom: 35px; font-family: montserrat;">
            
    <div class="container" style="background-color: #6C63FF;">
        <div style="display: flex; justify-content: space-around;">

            <div style="background-color: white; border-radius: 10px; font-size: 25px; text-align: center;">
                <a class="nav-link" href="/" style="color: #6c63ff"><strong>Aurora</strong></a>
            </div>

            <div style="background-color: #c4c4c4; border-radius: 10px; font-size: 25px; text-align: center;">
                <a class="nav-link" href="{{ url_for('scopes')}}" style="color: white"><strong>Scopes</strong></a>
            </div>
            <div style="background-color: #c4c4c4; border-radius: 10px; font-size: 25px; text-align: center;">
                <a class="nav-link" href="{{ url_for('servers')}}" style="color: white"><strong>Server</strong></a>
            </div>
            <div style="background-color: #c4c4c4; border-radius: 10px; font-size: 25px; text-align: center;">
                <a class="nav-link" href="{{ url_for('hotlines')}}" style="color: white"><strong>Hotlines</strong></a>
            </div>
            
        </div>
    </div>
</nav>


{% block body %}

<body style="background: url(https://i.pinimg.com/originals/0b/59/34/0b5934b623f3c6f5377f221959d77982.gif);object-fit: cover;  font-family: lora; margin-bottom: 40px;">
    <div style="margin:auto; width: 90%">
        <header>
            <h1 style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-size: 45px; margin-bottom: 20px; color:white; "><strong>Hey There!</strong></h1>
        </header>
        <section>
            <div>
                <P style="margin-bottom: 10px; font-family:Arial, Helvetica, sans-serif;font-size:30px;font-style:italic; text-align: center; color:white;">Welcome to Aurora, a platform for women by women devoted to providing resources that will not only inform but empower and connect women across the globe.</P>
                <img style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-bottom: 40px;" src="/static/images/logo2.png" alt="there should be an image here :(">
                <h2 style="text-align:center; font-size: 32px; margin-bottom: 10px; font-family:Arial, Helvetica, sans-serif; color:white;"><strong>About Us</strong></h2>
                <p style="margin-bottom: 40px; font-family:Arial, Helvetica, sans-serif; font-size: 20px; text-align: center; color:white;">Our team created this website with the goal of supporting women. We decided to create Aurora by incorprating HTML, CSS, and Bootstrap for our front-end and Python and Flask for our back-end. Our design is aimed for to be easy on the eyes, aestheticly
                    pleasing as well as elements to ease navigation.</p>
                <h3 style="text-align:center; font-size: 32px; margin-bottom: 10px; font-family:Arial, Helvetica, sans-serif; color:white;"><strong>Mission</strong></h3>
                <p style="margin-bottom: 40px;font-family:Arial, Helvetica, sans-serif; font-size: 20px; text-align: center; color:white;">Our Mission is to provide resources to women. Many women often have little knowledge of the helpful resources that they can use. We decided to help out our community of amazing women and place resources on Aurora. On here you can find
                    job oppurtunites, find events around you, connect with other spectacular women, and find handy hotlines.
                </p>
            </div>

        </section>
        <section>
            <h4 style="text-align:center; font-size: 32px; margin-bottom: 10px; font-family:Arial, Helvetica, sans-serif; color:white;"><strong>Resources</strong></h4>
            <br>
            <div style="display: flex; justify-content: space-evenly; align-items: flex-start;">

                <div class="card" style="width: 23%; background-color: #C4C4C4; border-color: #C4C4C4; color: white; padding-bottom: 20px;">
                    <div class="card-body">
                        <img width="80%"; height="auto"; style="object-fit: cover; padding-left: 30%; padding-right:10%; padding-bottom: 25px;" src="https://iconsplace.com/wp-content/uploads/_icons/800080/256/png/business-icon-13-256.png">
                        <h5 class="card-title" style= "text-align:center; text-decoration: underline; font-family:Arial, Helvetica, sans-serif; font-size: 22px;"><strong>Businesses</strong></h5>
                        <p class="card-text" style=" font-family:Arial, Helvetica, sans-serif; text-align: center;">Check out out these resources to empower and support women-owned/supporting businesses.</p>
                    </div>
                    <h6 style="text-align: center; font-family:Arial, Helvetica, sans-serif; font-style: italic;"><strong>Estee Lauder</strong></h6>
                    <a href="https://www.elcompanies.com/en/who-we-are/the-lauder-family/the-estee-story" style=" font-family:Arial, Helvetica, sans-serif; text-align: center" target="_blank";>The Estee Story</a>
                    <a href="https://www.elcompanies.com/en" style=" font-family:Arial, Helvetica, sans-serif; text-align: center" target="_blank";>Estee Lauder Companies</a> 
                    <a href="https://www.esteelauder.com/"style=" font-family:Arial, Helvetica, sans-serif; text-align: center" target="_blank";>Estee Lauder</a>
                    <br>
                    <h6 style="text-align: center; font-family:Arial, Helvetica, sans-serif; font-style: italic;"><strong>Mielle Organics</strong></h6>
                    <a href="https://mielleorganics.com/pages/about" style=" font-family:Arial, Helvetica, sans-serif; text-align: center" target="_blank";>Mielle Organics About</a>
                    <a href="https://mielleorganics.com/" style="text-align: center" target="_blank";>Mielle Organics Products</a>
                    <a href="https://mielleorganics.com/collections/skin-care" style=" font-family:Arial, Helvetica, sans-serif; text-align: center" target="_blank";>Mielle Organics Skincare</a>
                    <br>
                    <h6 style="text-align: center; font-family:Arial, Helvetica, sans-serif; font-style: italic;"><strong>La STEM Girl</strong></h6>
                    <a href="https://instagram.com/lastemgirl?igshid=ujgul6errfv9" style=" font-family:Arial, Helvetica, sans-serif; text-align: center" target="_blank";>La STEM Girl Page and Info</a>
                    <a href="https://www.etsy.com/market/stem_girl" style=" font-family:Arial, Helvetica, sans-serif; text-align: center" target="_blank";>La STEM Girl Store</a>
                    <br>
                </div>

                <div class="card" style="width: 23%; background-color: #C4C4C4; border-color: #C4C4C4; color: white; padding-bottom: 20px;">
                    <div class="card-body" style="text-align: center;">
                        <img width="80%"; height="auto"; style="object-fit: cover; padding-left: 15%; padding-right: 15%; padding-bottom: 25px;" src="https://www.jeanhailes.org.au/imager/images/Research/84790/whs_icon_purple_general_health_c1e4e8acd251c2a0865ed13d8197239f.png">
                        <h5 class="card-title" style="text-align: center; text-decoration: underline; font-family:Arial, Helvetica, sans-serif; font-size: 22px;"><strong>Women's Health</strong></h5>
                        <p class="card-text" style=" font-family:Arial, Helvetica, sans-serif; text-align: center;">Check these resources out for different information on Women's Health</p>
                    </div>
                        <h6 style="text-align: center; font-family:Arial, Helvetica, sans-serif; font-style: italic;"><strong>Physical Health & Wellbeing</strong></h6>
                        <a href="https://www.womenshealth.gov/getting-active" style=" font-family:Arial, Helvetica, sans-serif; text-align: center;" target="_blank";>Physical Health</a>
                        <a href="https://www.everydayhealth.com/womens-health/7-essential-supplements-women/" style=" font-family:Arial, Helvetica, sans-serif; text-align: center;" target="_blank";>7 Essential supplements for Women</a>
                        <a href="https://www.wherewomenwork.com/Career/1600/Womens-health-key-to-work-performance" style=" font-family:Arial, Helvetica, sans-serif; text-align: center;" target="_blank";>Occupational Wellbeing</a>
                        <br>
                        <h6 style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-style: italic;"><strong>Medical Information</strong></h6>
                        <a href="https://online.regiscollege.edu/blog/health-issues-specific-womens-health/" style=" font-family:Arial, Helvetica, sans-serif;text-align:center" target="_blank";>Health Issues Specific to Women</a>
                        <a href="https://www.cbhs.com.au/mind-and-body/blog/four-common-womens-health-conditions-and-how-to-reduce-your-risk" style=" font-family:Arial, Helvetica, sans-serif;text-align:center" target="_blank";>Prevention:Health Issues </a>
                        <a href="https://www.womenshealth.gov/getting-active" style="text-align:center" target="_blank";>Physical Health</a>
                        <br>
                        <h6 style=" font-family:Arial, Helvetica, sans-serif; text-align:center; font-style: italic;"><strong>Repoductive Health</strong></h6>
                        <a href="https://www.womenshealth.gov/menstrual-cycle/your-menstrual-cycle-and-your-health#:~:text=Your%20menstrual%20cycle%20can%20tell%20you%20a%20lot%20about%20your%20health.&text=Period%20problems%20may%20also%20lead,your%20risk%20for%20chronic%20diseases." style="text-align:center" target="_blank";>Menstrual Cycle Health</a>
                        <a href="https://www.womenshealth.gov/menstrual-cycle/your-menstrual-cycle" style=" font-family:Arial, Helvetica, sans-serif; text-align:center" target="_blank";>Knowing You Menstrual Cycle</a>
                        <a href="https://www.cdc.gov/reproductivehealth/womensrh/index.htm" style=" font-family:Arial, Helvetica, sans-serif;text-align:center" target="_blank";>Womens Reproductive Health</a>
                    </div>
                    
                    <div class="card" style="width: 23%; background-color: #C4C4C4; border-color: #C4C4C4; color: white; padding-bottom: 20px;">
                        <div class="card-body" style="text-align: center;">
                            <img width="60%"; height="auto"; style="object-fit: cover; padding-left: 10%; padding-right: 10%; padding-bottom: 25px;" src="https://freeiconshop.com/wp-content/uploads/edd/binocular-flat.png">
                            <h5 class="card-title" style="text-align: center; text-decoration: underline; font-family:Arial, Helvetica, sans-serif; font-size: 22px;"><strong>Safety and Sustainable Development</strong></h5>
                        <p class="card-text" style=" font-family:Arial, Helvetica, sans-serif; text-align: center;">Check out these resources for safety tips and equipment as well as proyects working towards women safety in public environments</p>
                    </div>
                    <h6 style="text-align: center; font-family:Arial, Helvetica, sans-serif; font-style: italic;"><strong>Safety Information</strong></h6>
                    <a href="https://www.hobbr.com/self-defense-products-for-women/" style=" font-family:Arial, Helvetica, sans-serif; text-align: center" target="_blank">Safety Tools for Women</a>
                    <a href="https://www.urbanet.info/safe-cities-for-women-and-girls/" style=" font-family:Arial, Helvetica, sans-serif; text-align: center;" target="_blank"> Sustainable Development: Cities for Women</a>
                    <a href="https://www.unilever.com/sustainable-living/enhancing-livelihoods/opportunities-for-women/promoting-safety-for-women/#:~:text=Women%20have%20the%20right%20to,from%20violence%2C%20harassment%20and%20discrimination.&text=The%20importance%20of%20protecting%20women's,Economic%20Growth%20(SDG%208)." style="text-align:center;" target="_blank">Promoting Safety for Women</a> 
                     <a href="https://swapanly.com/personal-safety-tips-increase-protection/" style=" font-family:Arial, Helvetica, sans-serif; text-align: center;" target="_blank">Personal Safety Tips<a> 
                    <br>
                    <iframe width="95%" height="auto" style="object-fit: cover; padding-left: 5%;" src="https://www.youtube.com/embed/rqyOp8NyTds" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
            
                    <div class="card" style="margin-left: -1.5%; width: 23%; background-color: #C4C4C4; border-color: #C4C4C4; color: white; padding-bottom: 20px;"> 
                        <div class="card-body">
                            <img width="90%"; height="auto"; style="object-fit: cover; padding-top: 5%; padding-left: 30%; padding-right: 20%;  padding-bottom: 25px;" src="https://www.flaticon.com/svg/static/icons/svg/3022/3022457.svg">
                            <h5 class="card-title" style=" font-family:Arial, Helvetica, sans-serif; text-align: center; text-decoration: underline; font-size: 22px;"><strong>Non-Profit Organizations</strong></h5>
                            <p class="card-text" style=" font-family:Arial, Helvetica, sans-serif; text-align: center;">Check out these resources for different Non-Profit Organizations/Funds Geared toward Women Empowerment, Education and Support</p>
                        </div>
                     <h6 style="text-align: center; font-family:Arial, Helvetica, sans-serif; font-style: italic;"><strong>Education Organizations</strong></h6>
                        <a href="https://techtogether.io/" style=" font-family:Arial, Helvetica, sans-serif; text-align:center;" target="_blank";>TechTogether</a>
                        <a href="https://girlswhocode.com/" style=" font-family:Arial, Helvetica, sans-serif; text-align:center;" target="_blank";>GirlsWhoCode</a>
                        <a href="https://www.kodewithklossy.com/." style=" font-family:Arial, Helvetica, sans-serif; text-align:center;" target="_blank";>Kode with Klossy</a> 
                        <a href="https://malala.org/" style=" font-family:Arial, Helvetica, sans-serif; text-align:center;" target="_blank";>The Malala Fund</a>
                        <a href="https://www.womenone.org/" style=" font-family:Arial, Helvetica, sans-serif; text-align:center;" target="_blank";>Women1One</a>
                        <br>
                     <h6 style="text-align: center; font-family:Arial, Helvetica, sans-serif; font-style: italic;"><strong>Support for Women</strong></h6>
                        <a href="https://www.womenforwomen.org/"style=" font-family:Arial, Helvetica, sans-serif; text-align:center;" target="_blank";>Women for Women International<a> 
                        <a href="https://www.keep-a-breast.org/" style=" font-family:Arial, Helvetica, sans-serif; text-align:center;" target="_blank";>Keep A Breast Foundation</a> 
                        <a href="https://ffbww.org/" style=" font-family:Arial, Helvetica, sans-serif; text-align:center;" target="_blank";>The Foundation for Black Women's Wellness</a>
                        <a href="https://wgefund.org/"  style=" font-family:Arial, Helvetica, sans-serif; text-align:center;" target="_blank";>Women's Global Empowerment Fund</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<iframe src="/static/music/lofimusic.mp3" allow="autoplay" style="display:none" id="iframeAudio">
</iframe> 

<div>

{% endblock %}
   