<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Aurora</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
  </div>
  </div>
</nav>

    <header>
        
        <hr>
        
        <h1>Welcome!!</h1>
    </header>
    <section>
        <div>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui neque odio a doloremque culpa? Fuga, minus. Cumque asperiores voluptatem voluptatum beatae magnam hic eligendi labore.</P>
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dignissimos obcaecati qui modi voluptates quasi accusamus, repellendus accusantium ad reiciendis voluptatibus quia laudantium? Dolores fugit ullam et vel a eaque?</p>
        <h3>Mission</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, eaque optio. Fuga adipisci incidunt placeat magnam ducimus nam aperiam. Nostrum accusantium distinctio praesentium expedita ut dignissimos ab saepe at cupiditate?</p>
        <h3>Vision</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est consectetur nisi illum modi ea suscipit voluptas enim possimus, ipsa, quos, nemo numquam quis dolorem minus quas dolor omnis quibusdam! Error.</p>
        </div>

    </section>
        <section>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div> 
        </section>    
</body>
</html>




