 {% extends 'index.html' %} 
 {% block body %}

  
<body style=" background: url(https://i.pinimg.com/originals/0b/59/34/0b5934b623f3c6f5377f221959d77982.gif) ;font-family: lora; margin-bottom: 40px;">
    
     <div style="margin:auto; width: 90%">
        <header>
            <h1 style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-size: 45px; margin-bottom: 20px; color:white; "><strong>Scopes</strong></h1>
            <h2 style="margin-bottom: 10px; font-family:Arial, Helvetica, sans-serif;font-size:30px;font-style:italic; text-align: center; color:white; ">Find Better Opportunities!</h2>
            <br>
            <img width="60%"; height="auto"; style="object-fit: cover; padding-left: 40%; padding-bottom: 25px;" src="https://cdn0.iconfinder.com/data/icons/tools-132/145/tools-45-512.png">
            <p style="font-family:Arial, Helvetica, sans-serif; font-size: 25px; text-align: center; color:white;">Navigate through these resources to find the next opportunity for you! Whether it be through STEM or other careers, we've got you covered!</p>
        </header>

    <div style="display: flex; text-align: center; justify-content: center; align-items: center; justify-content: center; margin-bottom: 20px; margin-bottom: -300px;">
        <div style="font-family:Arial, Helvetica, sans-serif; display: grid; margin: auto; width: 50%;">
            <div style="background-color:#c4c4c4; border-radius: 10px; font-size: 20px; text-align:center; margin: auto; margin-bottom: 10px; width: 70%; padding-top: 5px;">
                <h2 style="padding-top: 10px; color: white; font-size: 30px;"><strong>STEAM</strong></h2>
                <div style="font-family:lora; padding: 0 10px 20px 10px;font-size: 18px;">
                    <a href="https://wonderwomentech.com/about/internships/" class="card-link" target="_blank";>Wonder Woman Tech Internships</a><br/>
                    <a href="https://picoctf.org/ " class="card-link" target="_blank";>Cybersecurity Hacking Contest</a><br/>
                    <a href="https://www.training.nih.gov/programs/hs-sip " class="card-link" target="_blank";>Bio-medical Summer Research Internship for High Schoolers</a>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; margin: auto; width: 50%;">
            <img style="transform: scale(0.9);" src="/static/images/1scopes.png" alt="there should be a picture here" />
        </div>
    </div>

    <div style="font-family:Arial, Helvetica, sans-serif; display: flex; text-align: center; justify-content: center; align-items: center; margin-bottom: 20px; margin-bottom: -300px;">
        <div style="display: flex; justify-content: center; align-items: center; margin: auto; width: 50%;">
            <img style="transform: scale(0.35);" src="/static/images/2scopes.png" alt="there should be a picture here" />
        </div>
        <div style="display: grid; margin: auto; width: 50%;">
            <div style="background-color: #c4c4c4; border-radius: 10px; font-size: 20px; text-align:center; margin: auto; margin-bottom: 10px; width: 70%; padding-top: 5px;">
                <h2 style="color: white; font-size: 30px; padding-top: 10px;"><strong>Business</strong></h2>
                <div style="font-family:lora; padding: 0 10px 20px 10px;font-size: 18px;">
                    <a href="https://g.co/kgs/6Qc27c " class="card-link" target="_blank";>UMMC Registared Nurse</a><br/>
                    <a href="https://g.co/kgs/2tKBmh " class="card-link" target="_blank";>Google Field Sales Representative</a><br/>
                    <a href="https://jobs.apple.com/en-us/details/200180420/business-marketing-and-g-a-internships?team=STDNT" class="card-link" target="_blank";>Apple Business and Management Internships</a>
                </div>
            </div>
        </div>
    </div>

    <div style="font-family:Arial, Helvetica, sans-serif; display: flex; text-align: center; justify-content: center; align-items: center; margin-bottom: 20px;">
        <div style="display: grid; margin: auto; width: 50%;">
            <div style="background-color: #c4c4c4; border-radius: 10px; font-size: 20px; text-align:center; margin: auto; margin-bottom: 10px; width: 70%; padding-top: 5px;">
                <h2 style="color: white; font-size: 30px;"><strong>Education</strong></h2>
                <div style="font-family:lora; padding: 0 10px 20px 10px;font-size: 18px;">
                    <a href="https://studentambassadors.microsoft.com/" class="card-link" target="_blank";>Microsoft Learn Student Ambassadors</a><br/>
                    <a href="https://buildyourfuture.withgoogle.com/programs/step/" class="card-link" target="_blank";>Google STEP Program</a><br/>
                    <a href="https://www.openigo.com/organizations/un-women-internship/" class="card-link" target="_blank";>UN Internships</a>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; margin: auto; width: 50%;">
            <img style="transform: scale(0.9);" src="/static/images/3scopes.png" alt="there should be a picture here" />
        </div>
    </div>

    <iframe src="/static/music/lofimusic.mp3" allow="autoplay" style="display:none" id="iframeAudio">
    </iframe> 
</body>


{% endblock %}