 {% extends 'index.html' %} 
 {% block body %}

  
<body style="font-family: lora; margin-bottom: 40px;">
    
     <div style="margin:auto; width: 90%">
        <header>
            <h1 style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-size: 45px; margin-bottom: 20px;"><strong>Scopes</strong></h1>
            <h2 style="margin-bottom: 10px; font-family:Arial, Helvetica, sans-serif;font-size:20px;font-style:italic; text-align: center;">Find New Opportunities!</h2>
        </header>

    <div style="display: flex; text-align: center; justify-content: center; align-items: center; margin-bottom: 20px;">
        <div style="display: grid; margin: auto; width: 50%;">
            <div style="background-color: #FFFFFF; border-radius: 10px; font-size: 20px; text-align:center; margin: auto; margin-bottom: 10px; width: 70%; padding-top: 5px;">
                <h2 style="color: white; font-size: 30px;"><strong>STEAM</strong></h2>
            </div>
            <a href="http://www.awdf.org" class="card-link" target="_blank";>Card link</a><br/>
            <a href="# " class="card-link" target="_blank";>Another link</a><br/>
            <a href="# " class="card-link" target="_blank";>Another link</a>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; margin: auto; width: 50%;">
            <img style="transform: scale(0.9);" src="/static/images/steamscopes.png" alt="there should be a picture here" />
        </div>
    </div>

    <div style="display: flex; text-align: center; justify-content: center; align-items: center; margin-bottom: 20px;">
        <div style="display: flex; justify-content: center; align-items: center; margin: auto; width: 50%;">
            <img style="transform: scale(0.9);" src="/static/images/scopesbusiness.png" alt="there should be a picture here" />
        </div>
        <div style="display: grid; margin: auto; width: 50%;">
            <div style="background-color: #c4c4c4; border-radius: 10px; font-size: 20px; text-align:center; margin: auto; margin-bottom: 10px; width: 70%; padding-top: 5px;">
                <h2 style="color: white; font-size: 30px;"><strong>Business</strong></h2>
            </div>
            <a href="# " class="card-link" target="_blank";>Card link</a><br/>
            <a href="# " class="card-link" target="_blank";>Another link</a><br/>
            <a href="# " class="card-link" target="_blank";>Another link</a>
        </div>
    </div>

    <div style="display: flex; text-align: center; justify-content: center; align-items: center; margin-bottom: 20px;">
        <div style="display: grid; margin: auto; width: 50%;">
            <div style="background-color: #c4c4c4; border-radius: 10px; font-size: 20px; text-align:center; margin: auto; margin-bottom: 10px; width: 70%; padding-top: 5px;">
                <h2 style="color: white; font-size: 30px;"><strong>Education</strong></h2>
            </div>
            <a href="# " class="card-link" target="_blank";>Card link</a><br/>
            <a href="# " class="card-link" target="_blank";>Another link</a><br/>
            <a href="# " class="card-link" target="_blank";>Another link</a>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; margin: auto; width: 50%;">
            <img style="transform: scale(0.9);" src="/static/images/scopeseducation.png" alt="there should be a picture here" />
        </div>
    </div>

    <iframe src="/static/music/lofimusic.mp3" allow="autoplay" style="display:none" id="iframeAudio">
    </iframe> 
</body>


{% endblock %}