 {% extends 'index.html' %} 
 {% block body %}

  
<body style=" background: url(https://i.pinimg.com/originals/0b/59/34/0b5934b623f3c6f5377f221959d77982.gif) ;font-family: lora; margin-bottom: 40px;">
    
     <div style="margin:auto; width: 90%">
        <header>
            <h1 style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-size: 45px; margin-bottom: 20px; color:white; "><strong>Scopes</strong></h1>
            <h2 style="margin-bottom: 10px; font-family:Arial, Helvetica, sans-serif;font-size:30px;font-style:italic; text-align: center; color:white; ">Find Better Opportunities!</h2>
        </header>

    <div style="display: flex; text-align: center; justify-content: center; align-items: center; margin-bottom: 20px;">
        <div style=" font-family:Arial, Helvetica, sans-serif; display: grid; margin: auto; width: 50%;">
            <div style="background-color:#c4c4c4; border-radius: 10px; font-size: 20px; text-align:center; margin: auto; margin-bottom: 10px; width: 70%; padding-top: 5px;">
                <h2 style="color: white; font-size: 30px;"><strong>STEAM</strong></h2>
            </div>
            <a href="# " class="card-link" target="_blank";>Card link</a><br/>
            <a href="# " class="card-link" target="_blank";>Another link</a><br/>
            <a href="https://www.training.nih.gov/programs/hs-sip " class="card-link" target="_blank";>See Opportunity</a>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; margin: auto; width: 50%;">
            <img style="transform: scale(0.9);" src="/static/images/1scopes.png" alt="there should be a picture here" />
        </div>
    </div>

    <div style="font-family:Arial, Helvetica, sans-serif; display: flex; text-align: center; justify-content: center; align-items: center; margin-bottom: 20px;">
        <div style="display: flex; justify-content: center; align-items: center; margin: auto; width: 50%;">
            <img style="transform: scale(0.9);" src="/static/images/2scopes.png" alt="there should be a picture here" />
        </div>
        <div style="display: grid; margin: auto; width: 50%;">
            <div style="background-color: #c4c4c4; border-radius: 10px; font-size: 20px; text-align:center; margin: auto; margin-bottom: 10px; width: 70%; padding-top: 5px;">
                <h2 style="color: white; font-size: 30px;"><strong>Business</strong></h2>
            </div>
            <a href="# " class="card-link" target="_blank";>Card link</a><br/>
            <a href="# " class="card-link" target="_blank";>Another link</a><br/>
            <a href="https://jobs.apple.com/en-us/details/200180420/business-marketing-and-g-a-internships?team=STDNT" class="card-link" target="_blank";>See Opportunity</a>
        </div>
    </div>

    <div style=" font-family:Arial, Helvetica, sans-serif; display: flex; text-align: center; justify-content: center; align-items: center; margin-bottom: 20px;">
        <div style="display: grid; margin: auto; width: 50%;">
            <div style="background-color: #c4c4c4; border-radius: 10px; font-size: 20px; text-align:center; margin: auto; margin-bottom: 10px; width: 70%; padding-top: 5px;">
                <h2 style="color: white; font-size: 30px;"><strong>Education</strong></h2>
            </div>
            <a href="# " class="card-link" target="_blank";>Card link</a><br/>
            <a href="# " class="card-link" target="_blank";>Another link</a><br/>
            <a href="https://www.openigo.com/organizations/un-women-internship/" class="card-link" target="_blank";>See Opportunity</a>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; margin: auto; width: 50%;">
            <img style="transform: scale(0.9);" src="/static/images/3scopes.png" alt="there should be a picture here" />
        </div>
    </div>

    <iframe src="/static/music/lofimusic.mp3" allow="autoplay" style="display:none" id="iframeAudio">
    </iframe> 
</body>


{% endblock %}